<div class="container">
  <div class="row">
    <div class="col-12">

 <% @listings.each do |listing| %>
 <% if listing.photo.attached? %>
<%= link_to listing_path(listing) do %>
<div class="card-product mt-5">
<%= cl_image_tag listing.photo.key, height: 200, width: 200, crop: :fill  %>

 <div class="card-product-infos">
    <h2> Price: R<%= listing.price %></h2>
        <h4 style="font-size: 1.25rem;">Area: <%= listing.location %> </h4>

    <p><%= listing.description %></p>
  <div >
    <i class="fas fa-bed "> <%= listing.beds.to_i %> </i>
    <i class="fas fa-bath ml-3"> <%= listing.baths.to_i %></i>
    <i class="fas fa-car ml-3"> <%= listing.garages.to_i %> </i>
    <i class="fas fa-square-full ml-3"> <%= listing.squarem %> m2</i>
  </div>
  </div>
  <br>
</div>
<% end %>

 <% end %>

 <% end %>
    </div>
  </div>
</div>
