
<% if user_signed_in? %>

  <% if @user.email == "arlenelapan@gmail.com" %>
      <%= link_to edit_listing_path do %>
    <h3 style=" color:black;">Edit listing </h3>
    <% end %>
    <%= link_to listing_path(@listing), data: { confirm: "Are you sure?" }, method: :delete do%>
    <h3 style=" color:black;">Delete listing </h3>
    <% end %>
<% end %>


  <% end %>


<div class="container mt-5">
<div class="row" style="background:transparent;">

  <div class="col-12 col-md-12 col-lg-12 " style="position: relative; margin: 0 auto;">
    <div id="carouselExampleIndicators" class="carousel slide custom-slider" data-interval="false" style="width: 750px; position: relative; margin: 0 auto;">
        <div class="carousel-inner"style="width: 750px;" style="position: relative; margin:0 auto;">
          <div class="carousel-item active" style="position: relative; margin:0 auto;">
            <div class="carousel-img-container d-flex justify-content-center" style="border:solid 1px;">
    <%= cl_image_tag @listing.photo.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100 lala" %>
            </div>

          </div>
              <% @pictures.each do |picture| %>
          <div class="carousel-item" style="position: relative; margin:0 auto;">
            <div class="carousel-img-container d-flex justify-content-center" style="border:solid 1px;">
     <%= cl_image_tag picture.key, height: 500, width: 1000, crop: :scale, class: "d-block w-100" %>
            </div>

    <div class="carousel-caption d-none d-md-block">
    </div>


          </div>
            <% end %>

        </div>

  <div class="mt-5">
    <i class="fas fa-bed "> <%= @listing.beds.to_i %> </i>
    <i class="fas fa-bath ml-3"> <%= @listing.baths.to_i %></i>
    <i class="fas fa-car ml-3"> <%= @listing.garages.to_i %> </i>
    <i class="fas fa-square-full ml-3"> <%= @listing.squarem %> m2</i>
  </div>
        <br><br>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
  </div>
<div class="col-8" style="margin: 0 auto; position: relative; background-color:transparent;">
  <p style="font-size:1.25rem;"> <%= @listing.description %> </p>
</div>

</div>

</div>
