<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to pages_home_path, class: "navbar-brand" do %>
    <%= image_tag "br.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="d-flex" style="justify-content: space-between;">
      <p class="navbar-item">
        <%= link_to "Home", pages_home_path, class: "nav-link" %>
      </p>
      <p class="nav-item active">
        <%= link_to "Contact", pages_contact_path, class: "nav-link" %>
      </p>
      <p class="nav-item active">
        <%= link_to "About", pages_about_path, class: "nav-link" %>
      </p>


      <p class="nav-item active">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </p>
      <p class="nav-item active">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </p>
  </div>
</div>

