
  <div class="container-fluid"style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path "btr-3.jpg" %>);   padding: 25px;
  background-repeat: no-repeat;
  background-size: cover; background-position: center;">
  <div class="row">
      <div class="col-6 fill" style="position: relative;margin:0 auto; padding-top: 64px; padding-bottom: 188px; margin-bottom: 80px;">
      <%= image_tag "btr-6 .png" %>
      </div>
    </div>
  </div>
<!-- <div class="container-5">

<div class="row" style="margin-top:-72px; background-color:#F4F4F4;">
<div class="col-6 diagonal-box">
</div>
<div class="col-6 diagonal-box-2">
</div>


</div>
</div> -->
<!-- <div class="container-4" style="margin-top:-160px; background-color:#F4F4F4;
;">

<div class="row" style=" margin-top:140px;">

            <div class="col-5 col-lg-3">
        <div class="fill"style="width: 200px; height: 200px; border-radius:50%; margin-top:-206px; border:solid 4px; border-color:white; box-shadow: 0 8px 4px -4px gray; margin-left: 50px;">
           <%= image_tag "house-keys.jpeg", class: "circle-pics" %>
        </div>
      </div>      <div class="col-5 col-lg-3">
        <div class="fill"style="width: 200px; height: 200px; border-radius:50%; margin-left: -135px; margin-top:-136px; margin-left:-150px; border:solid 4px; border-color:white;box-shadow: 0 8px 4px -4px gray; ">
           <%= image_tag "interior.jpeg", class: "circle-pics" %>
        </div>
      </div>

</div>

</div> -->




<!-- <div class="arrow-down" style="margin-top:-160px; margin-left: 450px;"></div>
 -->
<div class="container" style="padding-bottom: 64px; background-color:#DDDDDD;">
<div class="row" style="padding-bottom:50px;">

      <div class="col-12 col-lg-8 fill" style="position: relative;margin:0 auto; padding-top: 64px; padding-bottom: 64px;">
<h1 style="font-weight: 700; font-size: 3.5rem;">Buying or Selling?</h1>

      </div>

            <div class="col-12 col-lg-8 fill" style="position: relative;margin:0 auto;  padding-bottom: 160px;">
<h3 style="font-weight: 500; text-align: center; padding-bottom:64px; font-size: 3.0rem;">For proffessional services from start to end, dealt with honesty and interity. Call me to discuss your Property Requirements!</h3>

      </div>

      <div class="col-8"> <h2 style="color: #2B2B6D; font-weight:700; font-size: 4.0rem;"> Free Valuations!</h2>
            <h3 style="padding-top: 32px; font-weight: 700;font-size: 2.25rem; color: #6EA416;">Arlene <strong> Lapan</strong></h3 style="padding-top: 16px; font-weight: 700;font-size: 2.25rem;">
              <h3 style="font-weight:700; font-size:2.25rem;"><i>Principal (NQF4, NQF5, CEA) </i></h3>
 <h3 style="padding-top: 8px; padding-left: -250px; font-weight: 700;font-size: 2.25rem;">Cell: <strong style="color: #6EA416;">+27605640995</strong> or <strong style="color: #6EA416;">+27838833398</strong></h3>
      <h3 style="padding-top: 8px; font-weight: 700;font-size: 2.25rem;"> arlenelapan@gmail.com</h3>

      </div>

      <div class="col-4">
        <div style="width: 350px; height: 350px; padding-top: 64px; background-color:transparent;">
           <%= image_tag "arl.png" %>
        </div>
      </div>

</div>

</div>

<div class="container-blue" style="">
  <div class="row" style="padding-top:30px; ">
    <div class="col-10 col-lg-8" style="position: relative; margin:0 auto;top: 50%;
  transform: translateY(50%);">

  <div style="background:white;color:black">
          <h3 style="padding-top: 8px; font-weight: 700;font-size: 2.25rem;padding-bottom: 16px; padding-top: 16px; text-align: center;">Address: 8 Winterhoek Street, Oakdene</h3 style="padding-top: 16px; font-weight: 700;font-size: 2.25rem;">

  </div>

    </div>
        <div class="col-8 col-lg-6" style="position: relative; margin:0 auto;top: 50%;
  transform: translateY(50%);">

  <div style="background:white;color:black">
          <h3 style="padding-top: 8px; font-weight: 700;font-size: 2.25rem;padding-bottom: 16px; padding-top: 16px; text-align: center;">Tel: 0110796800</h3 style="padding-top: 16px; font-weight: 700;font-size: 2.25rem;">

  </div>

    </div>
  </div>
</div>
